<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!--<add key="UACloudLib" value="https://github.com/OPCFoundation/UA-CloudLibrary/packages" />-->
		<add key="OPC Foundation" value="https://nuget.pkg.github.com/OPCFoundation/UA-CloudLibrary" />
	</packageSources>
</configuration>