<div class="footer" style="clear: both; Margin-top: 10px; text-align: center; width: 100%;">
    <table style="border-collapse: separate; mso-table-lspace: 0; mso-table-rspace: 0; width: 100%;">
        <tr>
            <td class="content-block" style="font-family: sans-serif; vertical-align: top; padding-bottom: 10px; padding-top: 10px; font-size: 12px; color: #999999; text-align: center;">
                <p class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">CESMII Smart Manufacturing Profile&trade; Designer </p>
                <p class="apple-link" style="color: #999999; font-size: 12px; text-align: center;">&copy; 2022-@DateTime.Now.ToString("yyyy") CESMII. All rights reserved.</p>
            </td>
        </tr>
    </table>
</div>