@import '../../components/styles/constants';

.namespace-list-item {
    min-height: 128px;
    padding: 24px;
    background-color: color("almost-white") !important;
    border: 1px solid color("almost-white");
    border-bottom: 1px solid color("alto");
    transition: all 200ms ease-in-out;

    .col-avatar {
        min-width: 80px;
        width: 80px;
        max-width: 80px;
        height: 80px;
        font-size: 42px;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        color: color("white");
        background-color: color("cardinal") !important;
        border-radius: 4px;
    }

    &:hover {
        cursor: pointer;
        background-color: color("alabaster") !important;
        border: 1px solid color("cornflower");
    }

    .item-text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 80px;

        p {
            margin: 0;
        }
    }

    small {
        opacity: 0.75;
    }

    .badge {
        color: color("outerSpace");
        font-weight: normal;
        height: 24px;
        padding: 8px 16px;
        margin: 2px;
        border-radius: 12px;

        &.meta {
            @include background-opacity(color("cornflower"), .2);
        }

        &.children {
            @include background-opacity(color("amber"), 1);
        }
    }

    .metatags-col {
        @media only screen and (min-width: 576px) {
            justify-content: flex-start;
        }

        @media (min-width: 992px) {
            justify-content: center;
        }
    }
}