@import "../../components/styles/constants";

.nav-link.profile-modal {
    padding-left: 0px;
    font-size: 1.1rem;

    &:hover {
        opacity: 0.8;
    }

    &.active {
        //font-size: 1.3rem;
        color: unset !important;
        background-color: unset !important;
        font-weight: 600;
        opacity: 0.8;
    }
}
