@import "../../components/styles/constants";

.row.profile-details-header {
    min-height: 128px;
    padding: 24px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid color("alto") !important;
    height: 128px;

    .item-text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 80px;

        p {
            margin: 0;
        }
    }

    small {
        opacity: 0.5;
    }

    .badge {
        color: color("outerSpace");
        font-weight: normal;
        height: 24px;
        padding: 8px 16px;
        margin: 2px;
        border-radius: 12px;

        &.meta {
            @include background-opacity(color("cornflower"), .2);
        }

        &.children {
            @include background-opacity(color("amber"), 1);
        }
    }

    .metatags-col {
        @media only screen and (min-width: 576px) {
            justify-content: flex-start;
        }
    
        @media (min-width: 992px) {
            justify-content: center;
        }
    }

}


.entity-details {

    .nav-item .nav-link {
        background-color: color("white");
        border: 1px solid color("silver");
        transition: all 200ms ease-in-out;
        color: color("shark");

        &:not(.active):hover {
            @include globalShadow;
        }

        &.active {
            //transform: translateY(8px);
            border-bottom: none;
        }
    }

    .nav-pills {
        flex-wrap: nowrap;

        .nav-item .nav-link.active,
        .nav-item.show > .nav-link {
            color: color("white");
            background-color: color("cornflower");
            @include globalShadow;
        }
    }


    .btn.btn-icon-solo {
        margin-bottom: 0;
        align-self: flex-end;
    }

    table {
        border-collapse: collapse;
        //font-size: 14px;
        font-weight: 400;

        th {
            border: none;
            min-height: 56px;
            vertical-align: bottom;
            border-bottom: 1px solid color("alto");
            background-color: color("white");
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        tr {
            min-height: 48px;

            td {
                border: none;
                border-bottom: 1px solid color("alto");
                vertical-align: middle;
                padding-bottom: .2rem;

                &.col-icon {
                    width: 28px;
                }
            }
        }
    }

    .flex-grid.attribute-list {
        //font-size: 14px;
        font-weight: 400;

        .row.attribute-list-header {
            border: none;
            height: 56px;
            border-bottom: 1px solid color("alto");
            background-color: color("white");

            &:hover {
                background: unset;
            }

            .col {
                padding-left: 1%;
                padding-right: 1%;
            }
        }

        .row.attribute-list-item {
            min-height: 48px;
            transition: $globalTransition;
            border: none;
            border-bottom: 1px solid color("alto");
            background-color: color("white");

            &:hover {
                border: none;
                border-bottom: 1px solid color("alto");
                background-color: color("hlBlue");
            }

            .col {
                padding-left: 1%;
                padding-right: 1%;

                i:not(:last-child) {
                    margin-right: 16px;
                }

                .btn-icon-solo {
                    display: inline-flex;
                }

                .btn-icon-solo:hover {
                    background-color: rgba(color("info"), 0.6);
                }
            }
        }
    }
}

#--attributes-table-inputs {
    max-width: 100%; 
}

#--attributes-text-inputs,
#--attributes-table-inputs {

    .h3-size {
        margin-top: 32px;
    }

    .form-group:not(:last-child) {
        margin-right: 24px;
    }
}