/// Shared Files & Constants
@import "../../components/styles/constants";

.profile-list-item {
    min-height: 50px;
    background-color: color("almost-white");
    border: 1px solid color("almost-white");
    border-bottom: 1px solid color("alto");
    //transition: all 200ms ease-in-out;

    .col-avatar {
        min-width: 36px;
        width: 36px;
        max-width: 36px;
        height: 36px;
        font-size: 34px;
        font-weight: 200;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        color: color("white");
        background-color: color("cerulean");
        border-radius: 4px;
    }

    .col.clickable:hover {
        cursor: pointer;
    }

    &.selectable .col-select {
        margin-top:13px;
    }
    /*
    &.mine {
        background-color: color("hlBlue");
        border-color: color("hlBlue");

        &:hover {
            @include background-opacity(color("hlBlue"), 0.8);
            border: 1px solid color("cornflower");
        }
    }
    */

    &:hover {
        // background-color: color("alabaster");
        background-color: color("white");
        border: 1px solid color("cornflower");
        //margin: 8px 0;
        //@include globalShadow;
    }

    &.shaded, &.selected {
        background-color: color("hlBlue");
        //@include background-opacity(color("cornflower"), 0.1);
        border: 1px solid color("alto");

        &:hover {
            background-color: color("hlBlue");
            //@include background-opacity(color("cornflower"), 0.1);
        }
    }

    &.selectable {
        cursor: pointer;
    }

    &.select-readonly {
        @include background-opacity(color("silver"), .5);
        background-color: color("silver");

        &:hover {
            @include background-opacity(color("silver"), .5);
            background-color: color("silver");
            border: 1px solid color("white");
        }
    }

    .item-text-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 60px;

        p {
            margin: 0;
        }
    }

    .badge {
        color: color("outerSpace");
        font-weight: 600;
        padding: 8px 16px;
        margin: 2px;
        border-radius: 25px;

        &.meta {
            // @include background-opacity(color("cornflower"), .2);
            @include background-opacity(color("hlBlue"), 1);
            border: 1px solid color('silver');
            // background-color: color("blazeOrange");
        }

        &.children {
            @include background-opacity(color("cararra"), 1);
        }
    }

    .metatags-col {
        @media only screen and (min-width: 576px) {
            justify-content: flex-start;
        }

        @media (min-width: 992px) {
            justify-content: center;
        }
    }
}
