/// Shared Files & Constants
@import "./constants";

.pagination-wrapper {
    align-items: flex-start;
    justify-content: flex-end;
    color: color("shark");

    ul.pagination {
        margin-bottom: 0;

        li,
        a.page-link,
        .page-item.active .page-link {
            height: 36px;
            min-width: 38px;
            margin-left: -1px;
            text-align: center;
            border-color: color("silver");
        }

        a {
            color: color("shark");
        }

        .page-item.active .page-link {
            color: color("shark");
            background-color: color("alto");
        }

        .page-link:focus {
            box-shadow: none;
        }
    }

    .pagination-dropdown {
        .dropdown-toggle,
        .dropdown-toggle:hover,
        .dropdown-toggle:active,
        .dropdown-toggle:visited,
        .dropdown-toggle:focus,
        .btn-secondary:not(:disabled):not(.disabled):active,
        .btn-secondary:not(:disabled):not(.disabled).active,
        .show > .btn-secondary.dropdown-toggle,
        .btn-secondary:focus,
        .btn-secondary.focus {
            height: 36px;
            padding: 8px 16px;
            color: color("shark");
            background-color: color("white");
            border: 1px solid color("silver");
            box-shadow: none;
        }
    }
}
