@import "../../components/styles/constants";

//this appears vertically in left rail
.info-panel {

    .info-section {
        //see app.scss for background treatment
        //@include background-opacity(color("silver"), .3);
        //border-bottom: 1px solid color("silver");
        .headline-3 {
            background-color: color("subHeadingBg");
        }

        .section-items {

            &.collapsed {
                display: none;
            }

            li {
                list-style-type: none;
                font-size: .9rem;
                display: flex;

                &:hover {
                    @include background-opacity(color("silver"), .5);
                    border-radius: 1rem;
                    cursor: pointer;
                }

                &.selected {
                    background-color: color("selectedBg");
                    color: color("white");
                    border-radius: 1rem;

                    &:hover {
                        @include background-opacity(color("selectedBg"), 1);
                    }
                }

                &.selectable {
                    display: flex;
                    align-items: center;
                }

                &.selectable:before {
                    font-size: 1rem;
                    color: color("spunPearl");
                    //align-content: flex-end;
                    //margin-left: auto;
                    font-family: 'Material Icons';
                    content: "check_box_outline_blank";
                    -webkit-font-feature-settings: 'liga';
                    margin-left: 7px;
                    margin-right: 0px;
                }

                &.selectable.selected:before {
                    font-size: 1rem;
                    color: color("cararra");
                    //padding-right: 1px;
                    font-family: 'Material Icons';
                    content: "check_box";
                    -webkit-font-feature-settings: 'liga';
                }

                &.tag {
                    cursor: default;
                    background-color: color("selectedBg");
                    color: color("white");
                    border-radius: 1rem;
                    /*&::after {
                        font-size: 1rem;
                        font-weight: normal;
                        padding-right: 1px;
                        font-family: 'Material Icons';
                        content: "check_box";
                        -webkit-font-feature-settings: 'liga';
                    }*/
                    &:hover {
                        @include background-opacity(color("selectedBg"), 1);
                    }
                }
            }
        }
    }
}

//this appears horizontally across screen above marketplace list
.selected-panel {
    @include background-opacity(color("silver"), .1);

    .global-search {
        width: 100%;
    }

    li {
        list-style-type: none;
        font-size: .9rem;
        display: inline;
        margin-right: 2px;
        border-radius: 1rem;
        border: 1px solid color("silver");

        &:hover {
            //@include background-opacity(color("silver"), .7);
            @include background-opacity(color("silver"), .4);
            cursor: pointer;
        }

        .not-selected {
            @include background-opacity(color("silver"), .3);
            border-radius: 1rem;
            /*            &::after {
                color: color('spunPearl');
                font-size: 1rem;
                font-weight: normal;
                margin-left: 4px;
                padding-right: 1px;
                font-family: 'Material Icons';
                content: "check_box_outline_blank";
                -webkit-font-feature-settings: 'liga';
            }*/
        }

        .selected {
            background-color: color("hlBlue");
            //@include background-opacity(color("silver"), .8);
            border-radius: 1rem;
            /*            &::after {
                font-size: 1rem;
                font-weight: normal;
                margin-left: 4px;
                padding-right: 1px;
                font-family: 'Material Icons';
                content: "check";
                -webkit-font-feature-settings: 'liga';
            }
*/
            &:hover {
                background-color: color("hlBlue");
                //@include background-opacity(color("silver"), .7);
            }
        }
    }
}
