/// Shared Files & Constants
@import "./constants";

.preloader {
    align-items: center;
    @include background-opacity(color("white"), .6);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 0.3s linear;
    width: 100%;
    z-index: 99999;

    &.msg {
        background-color: transparent !important;
    }

    .msg-text {
        background-color: #fff;
        border-radius:5px;
    }
}


.spinner {
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;

    // z-index: 99999;
    
    // padding: 0px 10px;
    // @include background-opacity(color("cornflower"), .6);

    // width: 100vw;
    // height: 100vh;
}

