/// Shared Files & Constants
@import "./constants";

#--routes-wrapper {
    background-color: color("alabaster");
    width: 100%;

    &.has-sidebar {
        width: calc(100vw - #{$sideMenuWidthOpen});
    }
}

#--cesmii-main-content {

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}