@import "./constants";

header {
    height: auto;
    color: white;
    background-color: color("cornflower");
    border-bottom: 1px solid color("blue-8");
    align-items: center;

    nav {
        //color: color("white");
    }

    .navbar-brand {
        color: color("white");

        &:hover {
            color: unset;
            opacity: 0.9;
        }

        img {
            height: 34px;
        }
    }

    @media (min-width: 768px) {
        height: $navbarHeight;
    }
    //nav link overrides
    .nav-link {
        font-family: $font-family-base;
        color: color('white') !important;
        opacity: 0.9;

        &:hover {
            opacity: 0.75;
        }

        &.active {
            font-weight: 500;
            opacity: 1.0;
            @include background-opacity(color("white"), 0.2);
            border-radius: 3rem;
        }
    }

    .dropdown-toggle {
        color: color('white') !important;
        opacity: 0.9;
    }
    //nav link overrides
    .nav-link {
        font-family: $font-family-base;
        color: color('white') !important;
        opacity: 0.9;

        &:hover {
            opacity: 0.75;
        }

        &.active {
            font-weight: 500;
            opacity: 1.0;
            @include background-opacity(color("white"), 0.2);
            border-radius: 3rem;
        }
    }

    .dropdown-toggle {
        color: color('white') !important;
        opacity: 0.9;
    }
}


