@import "./constants";

//slide in panel
$rightPanelWidth: 500px;

.slide-in-panel {
    z-index: 1030;
    width: $rightPanelWidth;
    height: 100vh;
    background-color: color("almost-white");
    margin-right: -$rightPanelWidth;
    position: fixed;
    top: 0;
    right: 0;
    color: color("shark");
    transition: all 250ms ease-out;
    @include globalShadow;
    border-left: 1px solid color("silver");
    overflow-y: auto;
    padding-bottom: 80px;

    &.slide-in-panel.open {
        margin-right: 0;
    }

    .right-panel-header {
        // @include background-opacity(color("silver"), .3);
        background-color: color("hlBlue");
        border-bottom: 1px solid color("silver");

        button.btn.btn-icon-solo:hover {
            @include background-opacity(color("info"), 0.6);
        }
    }
    //settings specific to import cloud lib
    &.cloud-lib-list {
        box-shadow: 0px 0px 20px 15px rgb(0 0 0 / 15%);
        transition: all 750ms ease-out;
        width: 75%;
        max-width: 1000px;
        margin-right: -75%;
        padding: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        border-left: 1px solid color("silver");

        &.slide-in-panel.open {
            margin-right: 0;
        }

        .right-panel-header {
            color: white;
            background-color: color("cornflower");
            border-bottom: 1px solid color("blue-8");
            height: 80px; //same size as main header

            button.btn.btn-icon-solo:hover {
                @include background-opacity(color("info"), 0.6);
            }
        }
    }
}

.slideout-open-no-scroll {
    overflow-y: hidden;
}

