
/// ::::::::::::::::::::
/// BOOTSTRAP
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

/// ::::::::::::::::::::
/// Shared Files & Constants
@import "./components/styles/constants";
@import "./components/styles/spinner";


/// ::::::::::::::::::::
/// FONTS
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open%20Sans:wght@300;400;600;700&display=swap');


/// import Bootstrap SASS
@import "~bootstrap/scss/bootstrap";

//default color
body {
    color: color("textPrimary");
    background-color: color("white");
    font-size: .9rem;
}


/// Content wrapper
#--cesmii-content-wrapper {
    display: flex;
    background-color: color("alabaster");
    // flex: 0 0 100%;
    margin: 0;
    padding: 0;
    // force the footer to the bottom of the screen on screens with less content.
    // It is header nav 80px, footer 80px , + 1px to clean up a little white line below footer
    //min-height: calc(100vh - 272px);
    min-height: calc(100vh - #{$navbarHeight} - #{$footerHeight} + 1px);
}


/// Layout helpers
.horizontal-block {
    display: flex;
    flex-direction: row;
}

.label-left {
    margin-right: 8px;
}

/// ::::::::::::::::::::::::
/// Basic site wide styles
h1 {
    font-family: $font-family-headings;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
}

h2 {
    font-family: $font-family-headings;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 1.15rem;
}

h3 {
    font-family: $font-family-headings;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 1.15rem;
}

p {
    line-height: 1.3rem;
    margin-bottom: .8rem;
}

/// ::::::::::::::::::::::::
/// Custom global components

// cursors
.cursor-pointer:hover {
    cursor: pointer;
}

.headline-1 {
    font-family: $font-family-headings;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.7rem;
}

.headline-2 {
    font-family: $font-family-headings;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.3rem;
}

.headline-3 {
    font-family: $font-family-headings;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 140% */
    //letter-spacing: -0.014em;
}

.headline-4 {
    font-family: $font-family-headings;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* or 133% */
    letter-spacing: -0.014em;
}

//link text style
a {
    font-family: $font-family-link;
    font-style: normal;
    font-weight: normal;
    font-size: .9rem;
    color: color('link');
}

.bitter {
    font-family: $font-family-headings;
}

// font styles
.h3-size {
    display: block;
    margin-bottom: 8px;
}

.attr-tab-header {
    font-size: 18px;
    font-weight: bold;
    // white-space:nowrap;
}

.body-size {
    font-size: 0.9rem;
    line-height: 1.713rem;
}

.small-size {
    font-size: .8rem;
    line-height: 1.1rem;
    opacity: 0.9;
    margin-bottom: 0.1rem;
}

.form-label {
    font-size: .8rem;
    line-height: 1.1rem;
    font-weight: 500; // added this for fw of labels
}

.metatag.badge {
    font-size: .8rem;
    font-weight: normal;
}

.clickable:hover {
    cursor: pointer;

    &.hover:hover {
        // background-color: color("alabaster");
        background-color: color("cararra");
        //margin: 8px 0;
        //@include globalShadow;
    }
}

.processing {
    &.spin {
        -webkit-animation: spinzilla 2.4s infinite linear both;
        animation: spinzilla 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

.favorite {
    color: color("forestGreen");

    &:hover {
        color: color("forestGreen");
        opacity: 0.8;
    }
}

.material-icons {
    font-size: 20px !important;

    &.size24 {
        font-size: 24px !important;
    }

    &.sizeText {
        font-size: .9rem !important;
    }
}

.lh-intro {
    line-height: 1.5rem;
}

@keyframes spinzilla {
    0%, 50% {
        opacity: 0.3;
    }
}

@-webkit-keyframes spinzilla {
    0%, 50% {
        opacity: 0.3;
    }
}

//forms
.form-label {
    font-size: .8rem;
    line-height: 1.2rem;
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-control {
    font-size: .92rem;
}

button, .btn {
    font-size: .92rem;
}

// input fields
.input-with-prepend {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &:focus {
        box-shadow: none;
        border-color: #ced4da;
    }
}

.input-with-append {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &:focus {
        box-shadow: none;
        border-color: #ced4da;
    }
}

.input-prepend {
    background-color: white;
    border-right: none !important;
    max-height: 48px;
}

.input-append {
    background-color: white;
    border-left: none !important;
    max-height: 48px;
}

.input-prepend.readonly, .input-append.readonly {
    background-color: #e9ecef;
}

.input-append.fav:hover {
    cursor: pointer;
}

.txt-search-ui-group {
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba( color('selectedBg'), 0.15);

    input.form-control {
        border-radius: $inputControl-radius;
        border-color: #D8DFEA;
        padding: 12px 16px;
        line-height: 16px;
        height: unset;

        &.with-append {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        &:focus {
            box-shadow: none;
        }
    }

    .input-group-append button {
        border-radius: $inputControl-radius;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-color: #D8DFEA;
    }
}

// dropdown menus
div.dropdown-menu {
    @include globalShadow;
}

.dropdown-menu > a:hover {
    background-color: color("alabaster");
}

.dropdown-menu > a:active {
    background-color: color("cornflower");
}

// a.dropdown-item:hover {
//     color: color("shark");
// }
a.dropdown-item {
    font-family: $font-family-base;
}

.dropdown-toggle {
    font-family: $font-family-base !important;
}


// select boxes
select,
option.selected {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


// button variants
.btn {
    font-family: $font-family-headings;
    padding: .6rem 44px;
    line-height: 20px;

    .show > &.dropdown-toggle {
        border: 1px solid #ced4da;
        background-color: color("cararra");
        color: color("textPrimary");
    }
}

.btn-text-solo {
    background-color: transparent;
    color: color("oslo-gray");
    min-width: 128px;
    border-radius: $button-radius;

    &.auto-width {
        min-width: unset;
        white-space: nowrap;
    }
}

.btn-primary, .btn-secondary {
    color: white;
    font-weight: 700;
    line-height: 20px;
    min-width: 128px;
    border-radius: $button-radius;
    border: none;

    &.auto-width {
        min-width: unset;
        white-space: nowrap;
    }

    &.dropdown-toggle {
        font-weight: normal;
    }
}

.btn-secondary-red {
    color: white;
    background-color: red;
    min-width: 128px;
}

.btn-subscribe {
    padding-top: 12px;
    padding-bottom: 12px;
}

.btn-fab {
    width: 56px;
    height: 56px;
    max-width: 56px;
    max-height: 56px;
    color: color("white");
    background-color: color("forestGreen");
    border-radius: 50%;

    &:hover {
        background-color: #83951c;
    }
}

.btn-icon-solo {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    max-height: 36px !important;
    height: 36px !important;
    width: 36px !important;
    padding: 0;
    font-size: 20px !important;
    background-color: transparent;
    color: color("shark");

    &.small {
        height: 20px !important;
        width: 20px !important;
    }
}

.btn-icon-outline {
    font-size: 20px;
    background-color: color("white");
    color: color("shark");
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: none;

    &.circle {
        display: flex;
        padding: 0.6rem;
        border-radius: 3rem;
        max-width: 45px;

        &:hover {
            background-color: color("cararra");
        }
    }

    &.primary {
        background-color: color("cornflower");
        color: color("white");
        border-color: color("cornflower");
        box-shadow: none;

        &:hover {
            box-shadow: none;
            border: 1px solid #ced4da;
            background-color: color("cararra");
            color: color("textPrimary");
        }
    }
}

.btn-search {
    font-size: 20px;
    background-color: color("white") !important;
    color: color("textPrimary");
    border: 1px solid #ced4da;
    // border-left: none;
    border-radius: 0.25rem;

    i.material-icons {
        font-size: 20px;
        color: color("textPrimary") !important;
    }
}

.btn-inline-add {
    background-color: color("white");
    color: color("shark");
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 44px;
    max-height: 44px;
    padding: 6px;
}

//small button, no border - see profile explorer
.btn-accordion {
    background-color: transparent;
    color: color("textPrimary");
    padding: 3px 6px;

    &:focus {
        box-shadow: none;
    }

    &.expanded, &.open:hover {
        background-color: color("cararra");
    }
}

.btn-nofocusborder:focus {
    box-shadow: none;
}

.dismiss-btn {
    float: right;
    margin-top: 0px;
}

.alert .dismiss-btn .btn:hover {
    color: inherit;
    @include background-opacity(color("white"), .3);
}

.btn.btn-inline-add:hover,
.btn.btn-icon-solo:hover,
.btn.btn-text-solo:hover,
.btn.btn-icon-outline:hover,
.btn.btn-toggle:hover {
    background-color: color("cararra");
}

.btn-square,
.btn.square {
    display: flex;
    align-content: center;
    justify-content: center;
    max-height: 38px;
    width: 38px;
}

.btn-square.favorite:focus {
    box-shadow: none;
}

.btn-square.favorite svg.selected {
    color: color("forestGreen");
    fill: color("forestGreen");
}

.btn-auto {
    min-width: unset;
}

.btn.btn-icon-solo.inactive {
    color: color("silver");
}

.btn-link {
    padding: 0px;
    color: color("link");
    font-size: .9rem;
    font-family: $font-family-link;

    &:hover {
        color: color("link");
    }

    &:focus {
        box-shadow: none;
    }
}

.btn-link-prepend-icon {
    color: color("link");
}

// Search
.global-search {
    min-width: 120px;
    max-width: 400px;

    input.form-control {
        border-radius: $inputControl-radius;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .input-group-append button {
        border-radius: $inputControl-radius;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    @media (min-width: 992px) {
        width: 220px;
    }

    @media (min-width: 1200px) {
        width: 300px;
    }
}

.input-rounded {
    border-radius: $inputControl-radius;
}

// Select box
select {
    appearance: none;
    cursor: pointer;
}

select.minimal {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image: linear-gradient(45deg, green 50%, transparent 50%), linear-gradient(135deg, transparent 50%, green 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

//common left rail treatments
.info-panel {
    .info-section {
        //background-color: color("white");
        /*border-bottom: 1px solid color("silver");*/
    }
}


// Cards
.card {
    margin-bottom: 32px;

    tr {
        td:first-child {
            padding-left: 16px;
        }

        td:last-child {
            padding-right: 16px;
        }
    }
}

.elevated {
    @include globalShadow;
}
// Tables
.table-hover tbody tr:hover {
    @include background-opacity(color("info"), 0.3);

    button.btn.btn-icon-solo:hover {
        @include background-opacity(color("info"), 0.6);
    }
}
// form validation
.invalid-field {
    padding-right: calc(1.5em + .75rem);
    //background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    border-color: #dc3545 !important;
}

.invalid-group .input-prepend,
.invalid-group .input-append {
    border: 1px solid #dc3545;
}

.invalid-field-message {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.invalid-field-message.inline {
    display: inline-block;
    width: auto;
    margin-left: 0.5rem;
}
// Alerts
.alert-info-custom {
    background-color: color("hlBlue");
}

//bg image treatment
.image-bg {
    width: 100%;
    height: 100%;

    .overlay-icon {
        background: url('./components/img/icon-smprofile-portrait.svg') no-repeat center;
        width: 100%;
        height: 100%;

        &.cover {
            background-size: cover;
        }

        &.contain {
            background-size: contain;
        }
    }
}

/// IMPORT PARTIALS
@import "./components/styles/HexOpacityValues";
/// IMPORT GLOBAL SCSS FILES
@import "./components/styles/ActionMenu.scss";
@import "./components/styles/ImportMenu.scss";
